header{
    background-color: rgb(253, 243, 227);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.nav-heading h2{
    font-size: 2em;
    font-weight: bold;
}
.nav-bar a{
    margin-left: 1em;
}
span{
    color: rgb(255, 41, 4);
}

/* banner start */
.banner-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    padding-bottom: 1em;
    width: 50%;
    border: 1px solid red;
}
.banner-content h1{
    font-size: 3em;
    font-weight: bold;
}
.banner-content p{
    font-size: 1em;
    color: rgb(89, 96, 102);

}
.banner{
    /* border: 1px solid red; */
    text-align: center;
    height: 100%;
    margin-top: 2em;
}
.banner img{
    width: 78%;
    height: 100%;
}
.btn-primary{
    font-size: 1.2em;
    height: 2.5em;
    width: 10vw;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(76, 198, 247);
}
.btn-primary:hover{
    background: rgb(20, 107, 220);
    color: white;
}

/* feature start */
main{
    text-align: center;
}
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid red;
}
.feature-img img{
    margin: 5px;
}
.feature-content{
    width: 40%;
    text-align: left;
    margin-right: 2.5em;
}
.feature-content h1{
    font-size: 3em;
}
.feature-content p{
    /* font-size: 3em; */
    margin-bottom: 2em;
    color: rgb(89, 96, 102);
}
/* feature end */